@import "tailwindcss";
@plugin "daisyui";

@layer components {
  .section-title {
    @apply text-2xl md:text-4xl font-black text-gray-800 tracking-tighter flex flex-wrap items-center gap-3;
  }
  .section-subtitle {
    @apply text-gray-500 mt-2 text-base md:text-lg font-medium;
  }

  .title-highlight {
    @apply text-red-600 italic;
  }
}
